<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
                <img id="logo" src="/assets/logo/429a1db40beb4e12a897cc123387ed80.png" alt="" width="170" height="80">
        </a>
        <a class="btn btn-outline-primary btn-lg" href="/umowWizyte">Umow Wizyte</a>
        <a class="btn btn-outline-primary btn-lg" href="#signup">Lekarze</a>
        <a class="btn btn-outline-primary btn-lg" href="/kontakt">Kontakt</a>
        <a class="btn btn-outline-primary btn-lg" href="/zaloguj">Zaloguj</a>
    </div>
</nav>



<style>
    #logo{
        border-radius: 15px;
        opacity: 1;
        
    }
    #logo:hover{
        border-radius: 15px;
        opacity: 0.5;
        box-shadow: 0 0 8px 4px rgba(70,150,240,0.25) inset, 0 0 10px 6px rgba(70,150,240,0.25);
        border: 3px solid rgba(70,150,240,1);
        color: rgba(255,255,255,1);

       
    }
   
</style>